In [1]:
from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults, GetUpdatedPropertyDetails
import googlemaps
import time
import pandas as pd
import geopy.geocoders as gc
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from bs4 import BeautifulSoup
import re
from urllib.request import urlopen
from selenium import webdriver

In [2]:
zillow_api_key = 'X1-ZWz1fau70lqih7_1pt0f'
google_api_key = 'AIzaSyDBXKfUQ5g-vuTM_rbFnUPQvfXKaSBf_pk'

In [3]:
# street_address = '1013 DURYEA STREET'
street_address = '1011 POPLAR LANE'
state = 'WA'
full_address = street_address + ', ' + state

gmaps = googlemaps.Client(key=google_api_key)
geocode_results = gmaps.geocode(full_address)

In [4]:
def get_city(geocode_results):
     if 'address_components' in geocode_results:
        for address_component in geocode_results['address_components']:
            if 'locality' in address_component['types']:
                return address_component['long_name']
            
def get_zip(geocode_results):
     if 'address_components' in geocode_results:
        for address_component in geocode_results['address_components']:
            if 'postal_code' in address_component['types']:
                return address_component['long_name']
                
def get_state(geocode_results):
     if 'address_components' in geocode_results:
        for address_component in geocode_results['address_components']:
            if 'administrative_area_level_1' in address_component['types']:
                return address_component['long_name']

In [5]:
# now map our functions to extract city and state names
city = get_city(geocode_results[0]) 
zipcode = get_zip(geocode_results[0]) 
state = get_state(geocode_results[0]) 
type(zipcode)

str

In [6]:
all_inputs = pd.read_csv('all_inputs.csv', nrows=4)
all_inputs

          Address        Lat        Long
0    1 ULLAKKO RD  46.350970 -123.812630
1   10 KOVEN ROAD  46.367306 -123.816740
2     10 RYE LANE  46.587673 -123.619364
3  10 SPRUCE LANE  46.646225 -123.924553

In [7]:
all_inputs['Zipcode'] = ''
all_inputs

          Address        Lat        Long Zipcode
0    1 ULLAKKO RD  46.350970 -123.812630
1   10 KOVEN ROAD  46.367306 -123.816740
2     10 RYE LANE  46.587673 -123.619364
3  10 SPRUCE LANE  46.646225 -123.924553

In [8]:
geolocator = gc.GoogleV3(api_key=google_api_key)

In [9]:
zipcode = []

for index, row in all_inputs.iterrows():
    raw_results = geolocator.geocode(query = row['Address'] + ', Pacific County, WA', exactly_one=True).raw
    zipcode.append(get_zip(raw_results))

all_inputs['Zipcode'] = zipcode

In [10]:
all_inputs

          Address        Lat        Long Zipcode
0    1 ULLAKKO RD  46.350970 -123.812630   98638
1   10 KOVEN ROAD  46.367306 -123.816740   98638
2     10 RYE LANE  46.587673 -123.619364   98577
3  10 SPRUCE LANE  46.646225 -123.924553   98586

In [11]:
zillow_data = ZillowWrapper(zillow_api_key)

In [12]:
deep_outputs = []

home_type = []
home_size = []
year_built = []
bathrooms = []
bedrooms = []
zestimate = []
# zillow_link = []

for index, row in all_inputs.iterrows():
    address = row['Address']
    zipcode = row['Zipcode']
    
#     time.sleep(0.1)
    deep_search_response = zillow_data.get_deep_search_results(address, zipcode)
    deep_outputs.append(GetDeepSearchResults(deep_search_response))
    
    home_type.append(deep_outputs[index].home_type)
    home_size.append(deep_outputs[index].home_size)
    year_built.append(deep_outputs[index].year_built)
    bathrooms.append(deep_outputs[index].bathrooms)
    bedrooms.append(deep_outputs[index].bedrooms)
    zestimate.append(deep_outputs[index].zestimate_amount)
#     zillow_link.append(deep_outputs[index].home_detail_link)

all_inputs['Home Type'] = home_type
all_inputs['Home Size'] = home_size
all_inputs['Year Built'] = year_built
all_inputs['Bathrooms'] = bathrooms
all_inputs['Bedrooms'] = bedrooms
all_inputs['Zestimate'] = zestimate
# all_inputs['Zillow URL'] = zillow_link

In [13]:
bob = deep_outputs[0]

In [22]:
bob.zestimate_last_updated

'http://www.zillow.com/homedetails/1-Ullakko-Rd-Naselle-WA-98638/91553794_zpid/#charts-and-data'

In [33]:
chrome_exe_path = '/Users/geomando/Dropbox/github/Zillow/chromedriver'

In [34]:
zillow_url = 'https://www.zillow.com/homes/for_sale/48769221_zpid/globalrelevanceex_sort/47.669733,-122.338219,47.664972,-122.3453_rect/16_zm/'
browser = webdriver.Chrome(executable_path = chrome_exe_path)
browser.get(zillow_url)
html = browser.page_source
property_description = re.search(r"(<meta\sproperty=\"og\:description\"\scontent=.*?/>)", html).groups()[0]

In [35]:
property_description

'<meta property="og:description" content="For sale: $995,000. Have your morning cup on the deck while enjoying your view of Rainier. Lots of charm. Hardwoods all over. Ready to move in or for you to add your vision to this home\'s future. Easy access to highways and transit. Pre inspection available. County says 5 bedrooms. Two bedrooms are non conforming, including one in the ADU. Has one of the largest garages in the Fremont Wallingford area." />'

In [38]:
zillow_html = urlopen(zillow_url)
zillow_soup = BeautifulSoup(zillow_html.read(), "lxml")
prop_desc = str(zillow_soup.find("meta", property="zillow_fb:description"))
prop_desc

'<meta content="For sale: $995,000. Have your morning cup on the deck while enjoying your view of Rainier. Lots of charm. Hardwoods all over. Ready to move in or for you to add your vision to this home\'s future. Easy access to highways and transit. Pre inspection available. County says 5 bedrooms. Two bedrooms are non conforming, including one in the ADU. Has one of the largest garages in the Fremont Wallingford area." property="zillow_fb:description"/>'